/* Esto es para como mostraré mi foto de perfil */
.faces {
    width: 100%;
    border-radius: 10px;
    float: left;
}

/* Sistema  de columnas para los about-containers */
.grid-about-container {
    display: inline-grid;
    column-count: 2;
    grid-template-columns: 30% auto;
    column-gap: 30px;
    padding: 10px;
}


/* Colorinche para links */
.Link {
    text-decoration: none;
    color: #fff;
}



/* ..... Card Items ..... */

.card-about-items {
    text-align: center;
    border-radius: 9px;
}