/* CSS para agregar ciertos temas extras en todos lados. Sin embargo, se usa en el addVideogame */

.label{
    width:100%;
    align-items: center;
}

.input{
    width: 100%;
    border:1px solid rgb(45, 62, 68);
    background-color: rgb(45, 62, 68);
    border-radius: 2px;
    color: white;
}

.padder {
    padding: 10px;
    margin-bottom: 20px;
}