/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #277779;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: rgb(203, 220, 228);
    color: rgb(0, 0, 0);
  }
  

  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 1250px) {
    .sidebar {
      width: 100%;
      display: flex;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar {
      width: 100%;
      height:auto;
      display: block;
    }
    
    .sidebar a {
      text-align: center;
      float: none;
    }
  }