
/* ------------------------------------------ */


body{
    
    padding: 0;
    margin: 0;
    /* background-color:  #0d272b; */
    background-size: cover;
    background-color: #141c1d;

    height: 100%;
    width: 100%;
}

.container{
    margin-top: 15%;
}

.radius {
    border-radius:20px;

}

.buttonLanding {
    padding:5px;
    margin: 10px;
    border-radius: 30px;
    width: 50%;
    background-color: #0893a8;
    border-color: #0893a8 ;
    color: #fff;
}
.buttonLanding:hover{
    background-color: #23c4dd;

}