.semi{
    width: 100%;
}

.button {
    padding:5px;
    margin: 10px;
    border-radius: 15px;
    background-color: #0893a8;
    border-color: #0893a8 ;
    color: #fff;
    width: 40%;
}

.filter {
    width: 90%;
    padding:10px;
    border-radius: 15px;
    background-color: #0893a8;
    border-color: #0893a8 ;
    color: #fff;
}
.filter:hover {
    background-color: #519eaa;
    border-color: #519eaa;
}

/* ..... Animaciones cuando pasamos por encima ..... */
.button:hover {
    background-color: #519eaa;
    border-color: #519eaa;
}

@media only screen and (max-width: 1000px){
    /* For tablets: */
    .button {
        width: 90%;
    }
    .filter {
        width: 90%;
    }
  }
