.containerImage {
    width : 100%;
}

.container{
    margin-top: 30px;
    background-color: rgb(32, 52, 90);
    display: inline-block;
    width: 60%;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */


.justifier {
    padding: 3%;
    text-align: justify;
}

.input{
    width: 70%;
    border: 5px solid rgb(28, 139, 158);
    background-color: rgb(29, 155, 177);
    border-radius: 30px;
    color: white;
}

.title {
    font-size: 300%;
    margin-bottom: 3%;
}

/* Dame un sombreadito */
.container:hover {
    background-color: rgba(25, 48, 78, 0.8);
    box-shadow: 0 4px 8px 0 rgba(233, 230, 230, 0.2), 0 4px 14px 0 rgba(247, 234, 234, 0.19);
  }
